#ABOUT {  
  padding: 80px 150px;

  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#ABOUT .introContainer {
  margin-bottom: 50px;
}

#ABOUT .introContainer  p{
  margin-top: 15px;
}

#ABOUT .content {
  display: grid;
  grid-template-columns: 360px auto;
  grid-template-rows: min-content;
  grid-gap: 25px; 
}

#ABOUT .myselfContainer {
  /* background-color: lightgray; */
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#ABOUT .myselfContainer img {
  max-width: 100%;
  height: auto;
}

#ABOUT .textAboutContainer {
  background-color: lightgray;
  padding: 50px 70px;
}

@media screen and (max-width: 1200px) {
  #ABOUT {  
    padding: 80px 100px;
}  

  #ABOUT .content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 0px; 
  }

  #ABOUT .myselfContainer {
    display: none;
  }
}