#ABOUT {  
  padding: 80px 5%;

  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#ABOUT .introContainer {
  margin-bottom: 50px;
}

#ABOUT .introContainer  p{
  margin-top: 15px;
}

#ABOUT .content {
  display: grid;
  grid-template-columns: 360px auto;
  grid-template-rows: min-content;
  grid-gap: 25px; 
}

#ABOUT .myselfContainer {
  /* background-color: lightgray; */
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  
}

#ABOUT .myselfContainer img {
  max-width: 100%;
  height: auto;

  border: solid 4px var(--textBox-background-color);
}

#ABOUT .textAboutContainer {
  background-color: var(--textBox-background-color);
  padding: 50px 5%;

  border: solid 4px var(--yellow-standard-color);
}

@media screen and (max-width: 1200px) {
  #ABOUT {  
    padding: 80px 5%;
}  

  #ABOUT .content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 0px; 
  }

  #ABOUT .myselfContainer {
    display: none;
  }
}