#CONTACT {
  padding: 30px 5% 10px 5% ;

  background-color: var(--contact-background-color);
  /* background-color: #fcd02c; */

  min-height: 40vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;

  color: #fff;
}

#CONTACT a {
  color: #fff;
  text-decoration: none;
}

#CONTACT .introContainer {
  margin-bottom: 20px;
}

#CONTACT .introContainer  p{
  margin-top: 10px;
  color: var(--text-white);
}

#CONTACT .linksContainer,
#CONTACT .createdBy {
  display: flex;
  justify-content: center;
  align-items: center;
}

#CONTACT .LinkDiv {
  margin: 0 2%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#CONTACT .LinkDiv i,
#CONTACT .iconify {
  height: 100%;
  font-size: 6em;
  color: var(--yellow-standard-color);
}

#CONTACT .LinkDiv:hover i,
#CONTACT .iconify:hover {
  color: var(--yellow-hover-color);
}

#CONTACT .LinkDiv:active i,
#CONTACT .iconify:active {
  color: var(--yellow-standard-color);
}

#CONTACT .yellowLinks:hover {
  cursor: pointer;
  color: var(--yellow-standard-color);
}

@media screen and (max-width: 500px) {
  #CONTACT .LinkDiv i,
  #CONTACT .iconify {
    font-size: 4em;
  }
}
