#CONTACT {
  padding: 30px 5% 10px 5% ;

  background-color: var(--contact-background-color);
  /* background-color: #fcd02c; */

  min-height: 40vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;

  color: #fff;
}

#CONTACT p {
  color: #fff;
}

#CONTACT .introContainer {
  margin-bottom: 20px;
}

#CONTACT .introContainer  p{
  margin-top: 10px;
  color: white;
}

#CONTACT .linksContainer,
#CONTACT .createdBy {
  display: flex;
  justify-content: center;
}

#CONTACT .LinkDiv {
  font-size: 6em;
  margin: 0 2%;
}

#CONTACT .LinkDiv i,
#CONTACT .iconify {
  color: #fcd02c;
}

#CONTACT .LinkDiv:hover i,
#CONTACT .iconify:hover {
  color: #c09600;
}

#CONTACT .LinkDiv:active i,
#CONTACT .iconify:active {
  color: #fcd02c;
}

@media screen and (max-width: 500px) {
  #CONTACT .LinkDiv {
    font-size: 4em;
  }
}
