#FAC {
  padding: 100px 5% 80px 5%;

  min-height: 60vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#FAC .textAboutContainer {
  background-color: var(--textBox-background-color);
  padding: 50px 5%;

  border: solid 4px var(--yellow-standard-color);
}