:root {
  --yellow-standard-color: #ffe400;
  --yellow-hover-color: #ceb900;

  --home-background-color: #272727;
  --contact-background-color: #272727;
  --work-background-color: #272727;
  /* --work-background-color: #747474; */
  --header-background-color: #ffe400;
  --textBox-background-color: #27272742;
  --gamesHover-background-color: #57580170;
  --toggle-background-color: #ffe6008a;

  --text-yellow: #ffe400;
  --text-white: #fff;
  --text-dark: #000;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  min-height: 100vh;
  width: 100%;
}

.dancing {
  font-family: 'Dancing Script', cursive;
}

p {
  font-size: 1.2em;
}

.introContainer {
  margin-bottom: 50px;
}

.introContainer  h2 {
  font-size: 1.7em;
}

.introContainer  p {
  margin-top: 15px;
}

.selected {
  opacity: 1 !important;
  z-index: 5 !important;
}

.titleFade {
  opacity: 0;
	transition: 500ms ease-in-out;
}

.contentFade {
	opacity: 0;
	transform: translateY(32px);
	transition: .8s ease-out;
}

.revealTitle {
	opacity: 1;
}

.revealContent {
	opacity: 1;
	transform: translateY(0);
}