header {
  background-color: rgba(0, 0, 0, 0.1);
  height: 50px;
  width: 500px;

  position: fixed;
  top: 0;
  left: 0;

  border-bottom-right-radius: 40px;
}

header ul {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  list-style: none;
}

header ul li {
  font-size: 1.2em;
  margin: 0 10px;
}

header .navName {
  cursor: pointer;
}

header .underBar { 
  cursor: pointer;
  opacity: 0;
  height: 5px;
  width: 100%;
}

header .underBar:hover { 
  opacity: 100;
  transition: opacity .25s ease-in-out;
  background-color: rgb(255, 241, 52);
}

header .selectedBar {
  cursor: pointer;
  opacity: 100;
  height: 5px;
  width: 100%;
  background-color: rgb(255, 241, 52);
}

header a {
  color: #fff;
  text-decoration: none;
}

