#HOME  {
  background-color: #fcd02c;
  /* background-color: #fc202c; */
  /* background-color: #2a3166; */
  /* background-color: #e56b1f; */

  min-height: calc(100vh - 60px);
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}

#HOME .homeTitle {
  font-size: 5em;
  font-weight: 500;
}

#HOME .imgMe {
  height: 150px;
  width: auto;
}

#HOME .carouselContainerText {
width: 100%;
height: 50px;

display: flex;
align-items: center;
justify-content: center;
}

#HOME .carouselSliderText {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
}

#HOME .slidesText {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: space-between;

  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

#HOME .welcomeText {
  font-size: 2em;
}

#HOME .flag {
  height: 25px;
  width: auto;
  margin-left: 20px;
}

/* #HOME .selected {
  opacity: 1 !important;
  z-index: 3;
} */

#HOME .titleSubtitles {
  margin-top: 5px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#HOME .titleSubtitles  p{
margin-left: 10px;
}