header {
  background-color: rgb(128, 128, 128, 0.3);
  height: 70px;
  width: 100%;
}

header ul {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  list-style: none;

}

header ul li {
  font-size: 1.2em;
  margin: 0 10px;
}

