#WORK {
  background-color: var(--work-background-color);
  /* background-color: #e56b1f; */

  padding: 100px 5% 80px 5%;

  min-height: 100vh;
  width: 100%;

  display: grid;
  grid-template-columns: 900px auto;
  grid-template-rows: 200px auto;
  grid-template-areas:
    "header corner"
    "carousel games";
  grid-gap: 50px;

}

#WORK .introContainer {
  grid-area: header;
}

#WORK .introContainer h2 {
  color: var(--text-yellow);
}

#WORK .introContainer p {
  color: var(--text-white);
}

#WORK .content {
  grid-area: carousel;

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

#WORK .gamesContainer {
  grid-area: games;

  width: 100%;
  /* height: 70%; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#WORK .gamesContainer img {
  max-width: 100%;
  display: flex;
}

#WORK .gamesContainer a {
  font-size: 1.6em;
  text-decoration: none;
  color: var(--text-white);
}

#WORK .gamesContainer a:hover {
  text-decoration: underline;
}

#WORK .gamesContainer .cardGame {
  position: relative;

  margin-bottom: 60px;
  height: 200px;
  width: 200px;

  border: 3px solid var(--yellow-standard-color);
}

#WORK .gamesContainer .cardGame .gameName {
  position: absolute;
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--gamesHover-background-color);

  opacity: 0;
}

#WORK .gamesContainer .cardGame .gameName:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

/* --------------------------- */

#WORK .carouselContainer {
  position: relative;

  margin-bottom: 50px;
  width: 800px;
  height: 460px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#WORK .carouselContainer .carouselSlider {
  position: relative;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#WORK .carouselSlider .slidesImg {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#WORK .slidesImg img {
  height: 100%;
  max-width: 100%;

  border: solid 4px var(--yellow-standard-color);
  object-fit: fill;
}

#WORK .slidesImg .repoLink {
  opacity: 0;
  position: absolute;
  bottom: 0;

  height: 40px;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}


#WORK .repoLink a {
  padding: 0 2%;
  font-size: 1.2em;
  min-height: 100%;
  background-color: var(--yellow-standard-color);
  border-top-left-radius: 10px;

  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--text-dark);
}

#WORK .repoLink a:hover {
  text-decoration: underline;
}

#WORK .carouselContainer .buttonsSlider {
  position: absolute;
  top: 45%;
  width: 95%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#WORK .buttonsSlider .prevButton,
#WORK .buttonsSlider .nextButton {
  background: transparent;
  font-size: 45px;
  border: none;
  z-index: 5;
  cursor: pointer;
}

#WORK .buttonsSlider .prevButton:focus,
#WORK .buttonsSlider .nextButton:focus {
  outline: none;
}

@media screen and (max-width: 1250px) {
  #WORK {
    grid-template-columns: auto;
    grid-template-rows: 200px auto auto;
    grid-template-areas:
      "header"
      "carousel"
      "games";
    grid-gap: 50px;
  }

  #WORK .gamesContainer {
    grid-area: games;

    width: 100%;

    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 900px) {
  #WORK .carouselContainer {
    width: 600px;
    height: 345px;
  }
}

@media screen and (max-width: 670px) {
  #WORK {
    grid-template-columns: auto;
    grid-template-rows: auto;
   }


  #WORK .carouselContainer {
    width: 400px;
    height: 230px;
  }

  #WORK .buttonsSlider .prevButton,
  #WORK .buttonsSlider .nextButton {
    font-size: 25px;
  }
}

@media screen and (max-width: 454px) {
  #WORK .carouselContainer {
    width: 320px;
    height: 201px;
  }

  #WORK .gamesContainer {
    flex-direction: column;
  }
}