#WORK {
  background-color: #e56b1f;

  padding: 80px 150px;

  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#WORK .content {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#WORK .gamesContainer {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#WORK .gamesContainer img {
  max-width: 100%;
  display: flex;
}

#WORK .gamesContainer a {
  font-size: 1.6em;
  text-decoration: none;
  color: #fff;
}

#WORK .gamesContainer a:hover {
  text-decoration: underline;
}

#WORK .gamesContainer .cardGame {
  position: relative;
  
  height: 200px;
  width: 200px;

  overflow: hidden;
  border: 5px solid #000 ;
  border-radius: 20px;
}

#WORK .gamesContainer .cardGame .gameName {
  position: absolute;
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.438);

  opacity: 0;
}

#WORK .gamesContainer .cardGame .gameName:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;
}


/* --------------------------- */

.selected {
  opacity: 1 !important;
  z-index: 5 !important;
}


#WORK .carouselContainer {
  position: relative;

  margin-top: 50px;
  margin-bottom: 50px;

  width: 100%;
  /* min-height: 100%; */

  display: flex;
  justify-content: center;
  align-items: center;
}

#WORK .carouselContainer .carouselSlider {
  position: relative;

  height: 40vh;
  width: 70%;

  border: solid 1px black;
}

#WORK .carouselContainer .carouselSlider .slidesImg {
  position: absolute;

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#WORK .carouselContainer .carouselSlider .slidesImg img {
  height: 90%;
  max-width: 100%;

  border: solid 2px var(--carouselBordersColor);
  border-radius: 5px;

  object-fit: contain;
}

#WORK .carouselContainer .carouselSlider .slidesImg .description {
  margin-top: 1px;

  height: 10%;
  width: 100%;

  background: var(--carouselDescriptionColor);

  border: solid var(--carouselBordersColor) 2px;
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  overflow: hidden;
}

#WORK .carouselContainer .carouselSlider .slidesImg .description div {
  height: 100%;
  margin: 0 2%;

  min-width: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#WORK .carouselContainer .carouselSlider .slidesImg .description div a {
  height: 70%;
  padding: 0 15px 0 15px;

  font-size: 1.2em;
}

#WORK .carouselContainer .carouselSlider .slidesImg .description p {
  font-size: 1.3em;
  color: var(--textColorStandard);
  margin-left: 2%;
}

#WORK .carouselContainer .buttonsSlider {
  position: absolute;
  top: 45%;

  width: 90%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#WORK .carouselContainer .buttonsSlider .prevButton,
#WORK .carouselContainer .buttonsSlider .nextButton {
  background: transparent;
  font-size: 45px;
  border: none;

  cursor: pointer;
}

#WORK .carouselContainer .buttonsSlider .prevButton:focus,
#WORK .carouselContainer .buttonsSlider .nextButton:focus {
  outline: none;
}
